{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %}new Blog{% endblock %}

{% block body %}

<p> write a new blog </p>

{{ form_start(form) }}
{{ form_widget(form) }}
{# {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }} #}
<button class="btn btn-primary" formnovalidate>Create</button>

{{ form_end(form) }}
{% endblock %}